.test{
  display: block;
}
.testRow{
  display: flex;
  margin-bottom: 10px;
}

.sampleClass {
  background-color: black;
}

body {
  padding: 5px;
}

.progressBarTest {
  margin-bottom: 10px;
}

.notVisible {
  background-color: #A0522D;
}

.testIcon {
  cursor: pointer;
  background: #1B4EA3;
}