.icon {
  width: 30px;
  height: 30px;
}

.cards {
  background: url("unselected/cards.svg") no-repeat center;
}

.cardsSelected {
  background: url("selected/cardsSelected.svg") no-repeat center;
}

.goals {
  background: url("unselected/goals.svg") no-repeat center;
}

.goalsSelected {
  background: url("selected/goalsSelected.svg") no-repeat center;
}

.inovices {
  background: url("unselected/inovices.svg") no-repeat center;
}

.inovicesSelected {
  background: url("selected/inovicesSelected.svg") no-repeat center;
}

.overview {
  background: url("unselected/overview.svg") no-repeat center;
}

.overviewSelected {
  background: url("selected/overviewSelected.svg") no-repeat center;
}

.settings {
  background: url("unselected/settings.svg") no-repeat center;
}

.settingsSelected {
  background: url("selected/settingsSelected.svg") no-repeat center;
}

.transactions {
  background: url("unselected/transactions.svg") no-repeat center;
}

.transactionsSelected {
  background: url("selected/transactionsSelected.svg") no-repeat center;
}

.bookmark {
  background: url("inputButton/bookmark.svg") no-repeat center;
}

.check {
  background: url("inputButton/check.svg") no-repeat center;
}

.cross {
  background: url("inputButton/cross.svg") no-repeat center;
}

.disabled {
  background: url("inputButton/disabled.svg") no-repeat center;
}

.downArrow {
  background: url("inputButton/downArrow.svg") no-repeat center;
}

.hamburger {
  background: url("inputButton/hamburger.svg") no-repeat center;
}

.lock {
  background: url("inputButton/lock.svg") no-repeat center;
}

.rightArrow {
  background: url("inputButton/rightArrow.svg") no-repeat center;
}

.trashCan {
  background: url("inputButton/trashCan.svg") no-repeat center;
}

.upArrow {
  background: url("inputButton/upArrow.svg") no-repeat center;
}

.blackPen {
  background: url("inputButton/blackPen.svg") no-repeat center;
}

.bluePen {
  background: url("inputButton/bluePen.svg") no-repeat center;
}

.whitePen {
  background: url("inputButton/whitePen.svg") no-repeat center;
}